.about-us{
    width: 100%;
    height: 658px;
    background-color: #FDE3B8;
    display: flex;

    justify-content: space-around;
    align-items: center;
}


.about-us h1{
    color: #44A097;
    font-size: 143px;
    font-weight: 600;
    font-family: poppins;
    margin: 0;
}

.about-us p{
    width: 640px;
    height: 245px;
    font-weight: 400;
    font-family: open sans;
    font-size: 26px;
    line-height: 49px;
}

.right img{
width: 352px;
height: 501px;
border-radius: 30px;
border-width: 8px ; 
}

.about-us-content p{
   
    height: 360px;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    margin: 0 217px;

}



.about-us-content  img{
    position: absolute;
    right: 221px;
    margin-top: -106px;
}
.about-us-content{
    margin-top: 60px;
}

.img1 img{
    position: absolute;
    left: 149px;
    margin-top: 47px;
}

.img2 img{
    margin-left: 83px;
}

.about-us-para{
    width: 100%;
    height: 500px;
}

.our-mission-para{
    width: 857px;
    height: 245px;
}

.our-mission{
    background-color: #34A853;
}

.our-mission h1{
    color: white;
}

.our-mission-right img{
    width: 357px;
    height: 677px;
}

.our-mission-left p{
    width: 840px;
    height: 245px;
    font-weight: 400;
    font-family: open sans;
    font-size: 26px;
    line-height: 49px;
    text-align: justify;
}

.about-us-sec3{
    width: 100%;
    height: 1000px;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.sec3-img{
    width: 521px;
    height: 554px;
    border-radius: 30px;
}

.sec3-right p{
    line-height: 49px;
    font-size: 26px;
    width: 1085px;
    font-weight: 400;
    font-family: poppins;
}

.sec3-left p{
    line-height: 49px;
    font-size: 26px;
    width: 1140px;
    font-weight: 400;
    font-family: poppins;
}

